git+git://github.com/Rapptz/discord.py.git@async#egg=discord
git+git://github.com/bocong/urbandictionary-py.git
git+git://github.com/lucasdnd/Wikipedia.git
git+git://github.com/AWegnerGitHub/stackapi.git
git+git://github.com/soundcloud/soundcloud-python.git
