pandas
asyncio
aiohttp
requests
stackapi
yahoo_fin
discord.py
fuzzywuzzy
DavesLogger
googletrans
pydictionary
cryptocompare
git+git://github.com/lucasdnd/Wikipedia.git
git+git://github.com/bocong/urbandictionary-py.git
git+https://github.com/abenassi/Google-Search-API.git
git+git://github.com/soundcloud/soundcloud-python.git
